{%extends "layout.html" %}
{%block content %}
	<h1>About Page </h1>
	<article class="media content-section">
		 <div class="media-body" >
		    <div class="article-metadata">
		      <a class="mr-2"><p>

BU Blog is a neat idea for a singular platform for everyone to communicate one. It would serve as, not only a means of communication for everyone on/off campus, but a news source as well.<br/><br>

The complete project is opensource and is developed using Flask framework which incorporates the power of Python with web technology. Being developed in Flask also insures that the web application is scalable and can be used on a plethora of devices ranging from Desktops, Laptops to small handheld smartphones.<br/><br>

The frontend is running pure HTML 5, Javascript and CSS3 whereas the database is running SQLite. Both the frontend and the database are connected and wholly incorporated and managed by the Python running in the backend.<br/><br>

Anyone visiting the website can straight ahead view blog posts, hence, saving time required for login when one needs to quickly look up information. A new visitor can register their account and a returning visitor can login into theirs to access their posts and create new ones.<br/><br>

The interface is completely clutter free and minimal, resulting in maximum ease of use for even the most basic users and minimal distraction and strain.<br/><br>

<br/><br>

Copyright Team Forkbomb &copy; 2018, GSMC&reg;

</p></a>
		    </div>
		 </div>
	</article>
{% endblock content%}

